.container {
  display: flex;
  width: 992px;
  justify-content: space-between;
  margin: 0 auto;
  column-gap: 7px;
}

.postContainer {
  margin-top: 50px;
}

/* 제목 내용 박스 */
.post {
  border-radius: 10px;
  width: 705px;
  height: 730px;
  padding: 20px;
  background-color: #fff9e3;
}

.title {
  color: #dbbb7d;
  font-size: 30px;
  margin-bottom: 10px;
}

/* 제목 내용 사이의 선 */
.divider {
  margin: 10px 0;
  border: none;
  border-top: 2px solid #fffbee(226, 226, 226);
}

.image {
  max-width: 100%;
  height: auto;
}

.content {
  color: #dbbb7d;
  margin-top: 10px;
}

.comment {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 731px;
  background-color: #fff9e3;
  border-radius: 10px;
  margin-top: 50px;
}

.commentsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 19px;
  margin-bottom: 10px;
}

/* 댓글 입력하는 곳 */
.commentsInput {
  width: 230px;
  height: 40px;
  padding: 10px;
  border-radius: 50px;
  border: 1px solid #fff9e3;
  resize: none;
}

.submitBtn {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: none;
  background-color: #f6d697;
  color: white;
  margin-left: 6px;
  cursor: pointer;
}

.commentsList {
  margin-top: 20px;
  width: 287px;
  height: 730px;
  background-color: #fff9e3;
  border-radius: 20px;
}

.commentContainer {
  margin-bottom: 10px;
}

.commentText {
  padding: 10px;
  color: #dbbb7d;
}

.commentHr {
  margin: 10px auto;
  border: none;
  border-top: 2px solid #fff9e3;
  width: 45%;
}
.backbtn {
  border: 0;
  margin-left: 4px;
  margin-top: 20px;
  width: 150px;
  height: 40px;
  color: white;
  background-color: #f6d697;
  border-color: #f6d697;
  border-radius: 7px;
}
.bookmarkBtn {
  margin-left: 10px;
  border: 0;
  width: 150px;
  height: 40px;
  color: white;
  background-color: #f6d697;
  border-color: #f6d697;
  border-radius: 7px;
}
.image {
  width: 400px;
  height: 300px;
}
