.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 920px;
  margin: 0 auto;
}

.gen_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 40px;
  background-color: #f6d697;
  color: white;
  border-radius: 8px;
  border: 0;
  margin-left: 1250px;
  margin-top: 20px;
  position: absolute;
}

.diary_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 860px;
  height: 200px;
  margin-top: 80px;
  padding: 30px;
  background-color: #fff9e3;
  border-radius: 20px;
}

.content_container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  height: 130px;
}

.title {
  font-size: 20px;
  color: #dbbb7d;
  font-weight: bold;
}

.content {
  font-size: 16px;
  color: #dbbb7d;
}
